@import "variables.css";
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Ubuntu:wght@700&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Ubuntu", sans-serif;
	font-weight: 700;
	font-style: normal;
}

h2:not(:first-of-type) {
	margin-top: 6rem !important;
}

h3:not(h2+h3) {
	margin-top: 3rem !important;
}

iframe {
	width: 100%;
	aspect-ratio: 1 / 1;
}

a:has(img) {
	display: grid;
	place-content: center;
}

header.md-header.md-header--shadow>* {
	color: white;
	fill: white;
}

.md-content p {
	color: hsl(0 0% 76.86%);
	font-size: 1.1em;
	letter-spacing: 0.3px;
	word-spacing: 1px;
}

.md-content {

	strong,
	.arithmatex,
	.MathJax.CtxtMenu_Attached_0 {
		color: white !important;
		font-weight: bold !important;
	}
}

h1 {
	color: hsl(0, 67%, 61%) !important;
}

h2 {
	color: #FFCDB2 !important;
}

h3 {
	color: #FFB4A2 !important;
}

h4 {
	color: #E5989B !important;
}

h5 {
	color: #B5828C !important;
}

.md-nav__link--active {
	color: hsl(0, 67%, 61%) !important;
}
