@import "variables.css";

pre {
	line-height: 125% !important;
}

td.linenos .normal {
	color: #6e7681 !important;
	background-color: #0d1117 !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
}

span.linenos {
	color: #6e7681 !important;
	background-color: #0d1117 !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
}

td.linenos .special {
	color: #e6edf3 !important;
	background-color: #6e7681 !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
}

span.linenos.special {
	color: #e6edf3 !important;
	background-color: #6e7681 !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.hll {
	background-color: #6e7681 !important;
}

/* Comment */
.c {
	color: var(--code-blocks-colors-comment) !important;
	font-style: italic !important;
}

/* Error */
.err {
	color: #f85149 !important;
}

/* Escape */
.esc {
	color: #e6edf3 !important;
}

/* Generic */
.g {
	color: #e6edf3 !important;
}

/* Keyword */
.k {
	color: var(--code-blocks-colors-keyword) !important;
}

/* Literal */
.l {
	color: #a5d6ff !important;
}

/* Name */
.n {
	color: var(--code-blocks-colors-identifier) !important;
}

/* Operator */
.o {
	color: var(--code-blocks-colors-operator) !important;
	font-weight: bold !important;
}

/* Other */
.x {
	color: #e6edf3 !important;
}

/* Punctuation */
.p {
	color: var(--code-blocks-colors-parentheses) !important;
}

/* Comment.Hashbang */
.ch {
	color: #8b949e !important;
	font-style: italic !important;
}

/* Comment.Multiline */
.cm {
	color: var(--code-blocks-colors-comment) !important;
	font-style: italic !important;
}

/* Comment.Preproc */
.cp {
	color: var(--code-blocks-colors-preprocessor-directive) !important;
	font-weight: bold !important;
	font-style: italic !important;
}

/* Comment.PreprocFile */
.cpf {
	color: var(--code-blocks-colors-preprocessor-file) !important;
}

/* Comment.Single */
.c1 {
	color: var(--code-blocks-colors-comment) !important;
	font-style: italic !important;
}

/* Comment.Special */
.cs {
	color: #8b949e !important;
	font-weight: bold !important;
	font-style: italic !important;
}

/* Generic.Deleted */
.gd {
	color: #ffa198 !important;
	background-color: #490202 !important;
}

/* Generic.Emph */
.ge {
	color: #e6edf3 !important;
	font-style: italic !important;
}

/* Generic.EmphStrong */
.ges {
	color: #e6edf3 !important;
	font-weight: bold !important;
	font-style: italic !important;
}

/* Generic.Error */
.gr {
	color: #ffa198 !important;
}

/* Generic.Heading */
.gh {
	color: #79c0ff !important;
	font-weight: bold !important;
}

/* Generic.Inserted */
.gi {
	color: #56d364 !important;
	background-color: #0f5323 !important;
}

/* Generic.Output */
.go {
	color: #8b949e !important;
}

/* Generic.Prompt */
.gp {
	color: #8b949e !important;
}

/* Generic.Strong */
.gs {
	color: #e6edf3 !important;
	font-weight: bold !important;
}

/* Generic.Subheading */
.gu {
	color: #79c0ff !important;
}

/* Generic.Traceback */
.gt {
	color: #ff7b72 !important;
}

/* Generic.Underline */
.g-Underline {
	color: #e6edf3 !important;
	text-decoration: underline !important;
}

/* Keyword.Constant */
.kc {
	color: #79c0ff !important;
}

/* Keyword.Declaration */
.kd {
	color: var(--code-blocks-colors-keyword) !important;
}

/* Keyword.Namespace */
.kn {
	color: #ff7b72 !important;
}

/* Keyword.Pseudo */
.kp {
	color: #79c0ff !important;
}

/* Keyword.Reserved */
.kr {
	color: #ff7b72 !important;
}

/* Keyword.Type */
.kt {
	color: var(--code-blocks-colors-datatype) !important;
	font-style: italic;
}

/* Literal.Date */
.ld {
	color: #79c0ff !important;
}

/* Literal.Number */
.m {
	color: #a5d6ff !important;
}

/* Literal.String */
.s {
	color: var(--code-blocks-colors-string) !important;
}

/* Name.Attribute */
.na {
	color: #e6edf3 !important;
}

/* Name.Builtin */
.nb {
	color: #e6edf3 !important;
}

/* Name.Class */
.nc {
	color: var(--code-blocks-colors-class) !important;
	font-weight: bold !important;
	font-style: italic;
}

/* Name.Constant */
.no {
	color: #79c0ff !important;
	font-weight: bold !important;
}

/* Name.Decorator */
.nd {
	color: #d2a8ff !important;
	font-weight: bold !important;
}

/* Name.Entity */
.ni {
	color: #ffa657 !important;
}

/* Name.Exception */
.ne {
	color: #f0883e !important;
	font-weight: bold !important;
}

/* Name.Function */
.nf {
	color: var(--code-blocks-colors-function) !important;
	font-weight: bold !important;
}

/* Name.Label */
.nl {
	color: #79c0ff !important;
	font-weight: bold !important;
}

/* Name.Namespace */
.nn {
	color: #ff7b72 !important;
}

/* Name.Other */
.nx {
	color: #e6edf3 !important;
}

/* Name.Property */
.py {
	color: #79c0ff !important;
}

/* Name.Tag */
.nt {
	color: #7ee787 !important;
}

/* Name.Variable */
.nv {
	color: #79c0ff !important;
}

/* Operator.Word */
.ow {
	color: var(--code-blocks-colors-operator) !important;
	font-style: italic !important;
}

/* Punctuation.Marker */
.pm {
	color: #e6edf3 !important;
}

/* Text.Whitespace */
.w {
	color: #6e7681 !important;
}

/* Literal.Number.Bin */
.mb {
	color: #a5d6ff !important;
}

/* Literal.Number.Float */
.mf {
	color: #a5d6ff !important;
}

/* Literal.Number.Hex */
.mh {
	color: #a5d6ff !important;
}

/* Literal.Number.Integer */
.mi {
	color: var(--code-blocks-colors-literal-num) !important;
}

/* Literal.Number.Oct */
.mo {
	color: #a5d6ff !important;
}

/* Literal.String.Affix */
.sa {
	color: #79c0ff !important;
}

/* Literal.String.Backtick */
.sb {
	color: var(--code-blocks-colors-string) !important;
}

/* Literal.String.Char */
.sc {
	color: #a5d6ff !important;
}

/* Literal.String.Delimiter */
.dl {
	color: #79c0ff !important;
}

/* Literal.String.Doc */
.sd {
	color: #a5d6ff !important;
}

/* Literal.String.Double */
.s2 {
	color: var(--code-blocks-colors-string) !important;
}

/* Literal.String.Escape */
.se {
	color: #79c0ff !important;
}

/* Literal.String.Heredoc */
.sh {
	color: #79c0ff !important;
}

/* Literal.String.Interpol */
.si {
	color: var(--code-blocks-colors-string) !important;
}

/* Literal.String.Other */
.sx {
	color: #a5d6ff !important;
}

/* Literal.String.Regex */
.sr {
	color: #79c0ff !important;
}

/* Literal.String.Single */
.s1 {
	color: #a5d6ff !important;
}

/* Literal.String.Symbol */
.ss {
	color: #a5d6ff !important;
}

/* Name.Builtin.Pseudo */
.bp {
	color: #e6edf3 !important;
}

/* Name.Function.Magic */
.fm {
	color: var(--code-blocks-colors-function) !important;
	font-weight: bold !important;
}

/* Name.Variable.Class */
.vc {
	color: #79c0ff !important;
}

/* Name.Variable.Global */
.vg {
	color: #79c0ff !important;
}

/* Name.Variable.Instance */
.vi {
	color: #79c0ff !important;
}

/* Name.Variable.Magic */
.vm {
	color: #79c0ff !important;
}

/* Literal.Number.Integer.Long */
.il {
	color: #a5d6ff !important;
}
